ALTER TABLE public.essays DROP COLUMN IF EXISTS overall_score, DROP COLUMN IF EXISTS coherence_score, DROP COLUMN IF EXISTS readability_score, DROP COLUMN IF EXISTS argument_strength_score, DROP COLUMN IF EXISTS grammar_score, DROP COLUMN IF EXISTS grading_error, DROP COLUMN IF EXISTS analysis_payload, DROP COLUMN IF EXISTS grammar_errors, DROP COLUMN IF EXISTS style_issues, DROP COLUMN IF EXISTS argument_analysis, DROP COLUMN IF EXISTS recommendations;
